<div id="active-header">
    <div class="active-header container">
        <div class="row">
            <div class="col-3 col-sm-3 col-md-3 col-lg-3">
                <a href="#step1" class="active-header-step">Phobias</a>
            </div>
            <div class="col-3 col-sm-3 col-md-3 col-lg-3">
                <a href="#step2" class="active-header-step">Therapy</a>
            </div>
            <div class="col-3 col-sm-3 col-md-3 col-lg-3">
                <a href="#step3" class="active-header-step">Anonymity</a>
            </div>
            <div class="col-3 col-sm-3 col-md-3 col-lg-3">
                <a href="#step4" class="active-header-step">Costs</a>
            </div>
        </div>
    </div>
</div>